@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;1,700&family=Lato:wght@300&family=Poppins:wght@200;300;400;500;600&display=swap");

body {
	margin: 0;
	padding: 0;
	background-color: rgba(77, 56, 56, 0.004);
	font-family: "Lato", sans-serif;
}
